@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5FA;
}

.square {
    background-color: hsl(327, 75%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(66, 66, 66);
    padding: 10px;
    margin: 3px;
    width: 80px;
    height: 80px;
}

.square:hover {
    background-color: rgb(255, 255, 255);
}


.square-text {
    font-size: 60px;
    color: #1C1C1E;
}

.gameboard {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);


    border-radius: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn-for {
    background-color: #d9d0fd;
    width: fit-content;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    /* padding-top: 40px; */
    font-size: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#reset {
    background: linear-gradient(135deg, #f6a5c0, #d9d0fd);
    outline: none;
    border: none;
    width: fit-content;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#reset:hover {
    background: linear-gradient(135deg, #d9d0fd, #f6a5c0);
    transform: scale(1.05);
}

#reset:active {
    background: linear-gradient(135deg, #f7c5c5, #d9d0fd);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.square-text.x-text {

    color: rgb(248, 147, 147);
    font-weight: bold;
}

.square-text.o-text {
    color: rgb(51, 181, 241);
    font-weight: bold;
}

.gif {
    width: 0;
    padding-top: 20px ;
    border-radius: 20px;
    transition: width 1s ease-in-out;
}